.eventsWrapper
    display: flex
    align-items: center
    justify-content: center
    min-height: 86vh

.eventContainer
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 35px
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12)
    padding: 33px
    border-radius: 10px

.formContent
    border-right: 2px solid #28d2d0

    @media (max-width: 1103px)
        border: none