.moderatorWrapper
    min-height: 86vh
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    padding: 32px

.reviewOfferBox
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12)
    padding: 10px 20px
    border-radius: 10px
    min-width: 750px
    display: flex
    flex-direction: column
    gap: 10px
    position: relative

.refreshButton
    background: #28d2d0
    color: white
    border: none
    padding: 5px 25px 5px 25px
    border-radius: 8px
    border: 1px solid #28d2d0

    &:hover
        background: white
        color: #28d2d0

.titleModerator
    font-size: 22px
    color: #455a89
    font-weight: 700

.messagePreview
    text-align: center
    padding: 250px
    color: #455a89
    font-weight: 700


.reviewHeader
    display: flex
    justify-content: space-between
    padding: 10px
    align-items: center