$weight-h: 700
    
.blockCard
    display: flex
    flex-direction: column
    border-radius: 20px
    padding: 25px
    width: 380px
    max-width: 100%
    flex: 1 1 1
    background: #fff
    box-sizing: border-box
    box-shadow: 0 16px 32px rgb(0 0 0 / .04)

.cardImages
    width: 48px

.cardTitle
    font-size: 20px
    font-weight: $weight-h
    padding: 10px 0

.cardBody
    color: #828282
    line-height: 1.5
    margin-bottom: 75px

.cardLink
    display: flex
    align-items: center
    width: fit-content
    text-decoration: none
    background: linear-gradient(-45deg, #5a73ed 0, #3d57d5 100%)
    color: #ffff
    padding: 12px
    border-radius: 8px
    margin-top: auto
    gap: 6px
    font-weight: $weight-h