
.badgeWrapper
    background: red
    padding: 5px

.badgeHeader
    display: flex
    gap: 10px
    align-items: center
    font-size: 16px
    padding: 7px
    border-bottom: 1px solid white


.badgeBtn
    border: none
    background: none
    color: white
    border: 1px solid white

    &:hover
        background: white
        color: red

.badgeBlock
    padding: 7px
    display: flex
    flex-direction: column
    gap: 10px


