.form
    padding: 25px
    box-sizing: border-box
    min-width: 355px
    border-radius: 8px

.title
    margin-bottom: 15px
    text-align: center
    color: rgb(69, 90, 137)
    font-size: 22px
    font-weight: 700

.titleForm
    color: #334155
    font-weight: 600

.labelForm
    display: flex
    flex-direction: column
    margin-bottom: 25px
    position: relative

.input
    width: 100%
    box-sizing: border-box
    border: none
    border-bottom: 1px solid #28d2d0
    padding: 10px 0px 3px 0px
    color: #7A8699

.warning
    color: red
    position: absolute
    left: 1px
    bottom: -18px
    font-size: 15px

.notValid
    border-bottom: 1px solid red

.submitButton
    color: #ffff
    background: #28d2d0
    border: none
    padding: 10px 22px
    border-radius: 8px
    font-weight: 700
    border: 2px solid #28d2d0
    width: 100%

    &:hover
        color: #28d2d0
        background-color: #ffff